<div class="text-center fw-bold text-white p-2 danger-border ">
    <div class="redes-sociales">
        <h2 class="text-center text-white">© VetAnimals<br></h2>
        <a href="enlace_a_tu_facebook" target="_blank" class="icono-facebook"><i class="fab fa-facebook"></i></a>
        <a href="enlace_a_tu_twitter" target="_blank" class="icono-twitter"><i class="fab fa-twitter"></i></a>
        <a href="enlace_a_tu_instagram" target="_blank" class="icono-instagram"><i class="fab fa-instagram"></i></a>
    </div>
</div>
        