{%extends "index.html"%}
{% block encabezado%}
    {%include "encabezado.html"%}
{%endblock%}
{% block menu%}
    {%include "administrador/menu.html"%}
{%endblock%}
{%block contenido%}
<div class="d-flex justify-content-center align-items-center table-responsive" style="margin-bottom: 20rem;">
	<form action="/agregarServicio/" method="post" enctype="multipart/form-data" class="was-validated">>
		<div>
			<div>
				<h2 class="text-center fw-bold">REGISTRAR SERVICIO</h2>
			</div>
			{% csrf_token %}
			<div class="mb-3">
				<label for="serNombre">Nombre del servicio:</label>
				<input type="text" name="serNombre" required>
				{% if error_message %}
				<div class="text-danger">{{ error_message }}</div>
				{% endif %}
			</div>

			<div class="mb-3">
				<label for="serTipo">Tipo de servicio:</label>
				<select name="serTipo" required>
					{% for tipo in tipoServicio %}
					<option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
					{% endfor %}
				</select>
			</div>
			<button type="submit">Agregar servicio</button>
		<!--</div>
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-secondary">Registrar</button>
			<a href="/vistaGestionarServicios/"><button type="button" class="btn btn-danger mx-2">Cancelar</button></a>-->
		</div>
	</form>
	<div>
		{%if mensaje %}
    	<script>
        	Swal.fire(" Agregar Servicios", '{{mensaje}}', "info")
		</script>
	</div>
</div>
{%endif %}  
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}