<nav class="navbar navbar-expand-lg navbar-dark colorcli"
  style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/frmAgendarCita/"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!--<li class="nav-item dropdown"
          style="margin-right: 20px; margin-top:0.2rem;">
          <select id="cbRolMenu" name="cbRolMenu"class="form-control custom-select colorcli"style="border:none; color:rgb(30, 102, 78);cursor: pointer;">
            <option value="Administrador" class="colorcli" select>Administrador</option>
            <option value="Especialista" class="colorcli">Especialista</option>
            <option value="Tecnico" class="colorcli">Tecnico</option>
          </select>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="/inicioCliente/">Inicio</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/salir/">¡Quines Somos?</a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Servicios Basicos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">Consulta Veterinaria</a></li>
            <li><a class="dropdown-item" href="/vistaGestionarCitasVeterinarias/">Vacunacion</a><li>     
            <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">Desparasitacion</a></li>    
            <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">Certificacion</a></li>
            <li><a class="dropdown-item" href="/vistaGestionarCitasVeterinarias/">Asesorias</a><li>     
            <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">Profilaxis</a></li>       
          </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Servicios Bienestar</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">Peluqueria</a></li>
          <li><a class="dropdown-item" href="/vistaGestionarCitasVeterinarias/">Spa</a><li>     
          <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">Cepillado</a></li>    
          <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">corte Uñas</a></li>
          <li><a class="dropdown-item" href="/vistaGestionarCitasVeterinarias/">Limpieza Superficial Dientes</a><li>     
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Urgencias</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/vistaRegistrarCitaVeterinaria/">Hospitalizacion 24  Horas</a></li>
        </ul>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/salir/">Ayuda</a>
        </li>
      </ul>
    </div>
  </div>
</nav>